{{#*inline "page"}}
    <div class="s-logo">
        <div class="s-space"></div>
        <img src="/assets/logo.svg" alt="{{tr loc.lang.logo_alt l}}"/> 
        <div class="s-space"></div>
    </div>
    <div class="s-backbutton">
        <a href="https://{{config.hoster_hostname}}">
            <img src="/assets/hoster-logo.png" alt="{{tr loc.lang.hoster_logo_alt l}}"/>
        </a>
    </div>
    <section class="s-section">
        {{#if form_result}}
            <div class="s-field">
                {{#if form_is_valid}}
                    <div class="s-notification s-success">
                        {{form_result}}
                    </div>
                {{else}}
                    <div class="s-notification s-error">
                        {{form_result}}
                    </div>
                {{/if}}
            </div>
        {{/if}}
        {{#if linkinfo}}
            <div class="s-field">
                <div class="s-notification s-link">
                    <div class="s-field s-link-group">
                        <label for="new_link">{{tr loc.lang.notif_link_label_shortcut l}}</label>
                        <input type="text" id="new_link" name="new_link" readonly value="{{linkinfo.url_from}}">
                    </div>
                    <br />
                    <div class="s-field s-link-group">
                        <label for="old_link">{{tr loc.lang.notif_link_label_original l}}</label>
                        <input type="text" id="old_link" name="old_link" readonly value="{{linkinfo.url_to}}">
                    </div>
                    <br />
                    <div class="s-field s-link-group">
                        <label for="new_link">{{tr loc.lang.notif_link_label_admin l}}</label>
                        <input type="text" id="new_link" name="new_link" readonly value="{{linkinfo.adminlink}}">
                    </div>
                    <small>{{tr loc.lang.notif_link_admin_desc l}}</small>
                    <br />
                    <p>{{tr loc.lang.notif_link_clickcount l}}{{linkinfo.clicks}}</p>
                    <a class="s-button s-danger" href="{{linkinfo.adminlink}}/delete">{{tr loc.lang.notif_link_delete l}}</a>


                </div>
            </div>
        {{/if}}
        <form action="/" method="post">
            <div class="s-field">
                <label for="url_to">{{tr loc.lang.url_to_label l}}</label>
                <input type="url" id="url_to" name="url_to" required placeholder="{{tr loc.lang.url_to_placeholder l}}" autofocus>
            </div>
            <br />
            <br />
            <div class="s-field">
                <label for="url_from">{{tr loc.lang.url_from_label l}}</label>
                <input type="text" id="url_from" name="url_from" maxlength="80" placeholder="{{tr loc.lang.url_from_placeholder l}}">
            </div>
            <br />
            <br />
            <div class="s-field s-captcha-section">
                <div class="s-captcha-img">
                    <img src="data:image/png;base64, {{captcha}}" alt="{{tr loc.lang.captcha_alt l}}" />
                </div>
                <br />
                <div class="s-field s-captcha-field">
                    <label for="captcha">{{tr loc.lang.captcha_label l}}</label>
                    <input type="text" id="captcha" name="captcha" maxlength="8" placeholder="{{tr loc.lang.captcha_placeholder l}}" autocomplete="off" required>
                </div>
            </div>
            <br />
            <br />
            <div class="s-field">
                <button class="s-button s-primary" type="submit">
                    {{tr loc.lang.button_submit_text l}}
                </button>
            </div>
            <br />
            <br />
            <div class="s-field s-footer">
                <a href="{{config.hoster_tos}}">{{tr loc.lang.footer_tos l}}</a> –
                <a href="https://git.42l.fr/42l/rs-short">{{tr loc.lang.footer_source_code l}}</a>
            </div>
        </form>
    </section>
{{/inline}}
{{~> (parent)~}}
